.container{
	display: flex;
   justify-content: flex-end;
	max-width: 1220px;
	margin: 15px auto;
}

.nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.item{
   margin-right: 40px;
	font-size: 25px;
	color: black;
	list-style-type: none;
}
a{ 
	text-decoration: none;
	color: black;
}

a:hover{
	color: blue;
}